.projects {
  padding-top: 80px;
  padding-bottom: 80px;

  &__title {
    margin-bottom: 50px;
  }

  &__descr {
    margin: 0;
    margin-bottom: 30px;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    border-top: 1px solid var(--text-color);

    &:last-child {
      border-bottom: 1px solid var(--text-color);
    }
  }

  @media (max-width: 768px) {
    padding-top: 60px;

    &__title {
      margin-bottom: 30px;
    }
  }
}
