<section class="about" id="about">
  <div class="container about__container">
    <h2 class="section__title about__title">
      About
    </h2>
    <div class="about__content">
      <div class="about__info">
        <img src="./img/about.jpg" alt="Photo">
        <ul class="social__list list-reset">
          <li class="social__item">
            <a href="https://t.me/IamOyuna" class="social__link" target="_blank"  aria-label="telegram">
              <svg>
                <use href="./img/sprite.svg#tg"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="https://github.com/veryPeriCloud" class="social__link" target="_blank" aria-label="github">
              <svg>
                <use href="./img/sprite.svg#github"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="mailto:oyunafront@gmail.com" class="social__link" aria-label="gmail">
              <svg>
                <use href="./img/sprite.svg#gmail"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <div class="about__descr">
        <p class="about__text">
          Hey! I'm Oyuna,
          a motivated frontend developer with a passion for crafting beautiful and intuitive web experiences.
          I have always been fascinated by the intersection of design and technology, and my journey into frontend development has been an exciting exploration of turning ideas into reality through code.
          This portfolio is a collection of my projects, showcasing my skills, learning experiences, and growth as a frontend developer.
        </p>
      </div>
    </div>
  </div>
</section>
