<footer class="footer" id="contacts">
  <div class="container footer__container">
    <h2 class="section__title footer__title">
      Let's connect
    </h2>

    <ul class="footer__send list-reset">
      <li class="footer__send-tg">
        <a href="https://t.me/IamOyuna" class="footer__send-link" target="_blank" aria-label="telegram">Telegram me</a>
      </li>
      <li class="footer__send-mail">
        <a href="mailto:oyunafront@gmail.com" class="footer__send-link" target="_blank" aria-label="gmail">Mail me</a>
      </li>
    </ul>

    <ul class="footer__social-list social__list list-reset">
      <li class="social__item">
        <a href="https://t.me/IamOyuna" class="social__link" target="_blank" aria-label="telegram">
          <svg>
            <use href="./img/sprite.svg#tg"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a href="https://github.com/veryPeriCloud" class="social__link" target="_blank" aria-label="github">
          <svg>
            <use href="./img/sprite.svg#github"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a href="mailto:oyunafront@gmail.com" class="social__link" aria-label="gmail">
          <svg>
            <use href="./img/sprite.svg#gmail"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</footer>
