<header class="header">
  <div class="container header__container">
    <button class="burger btn-reset" id="burger">
      <span class="burger__line"></span>
    </button>
    <a href="#" class="header__logo">
      <span>Oyuna</span>
    </a>
    <nav class="nav" data-menu>
      <ul class="nav__list list-reset">
        <li class="nav__item" data-menu-item>
          <a href="#about" class="nav__link">
            <span data-hover="About">About</span>
          </a>
        </li>
        <li class="nav__item" data-menu-item>
          <a href="#skills" class="nav__link">
            <span data-hover="Skills">Skills</span>
          </a>
        </li>
        <li class="nav__item" data-menu-item>
          <a href="#projects" class="nav__link">
            <span data-hover="Projects">Projects</span>
          </a>
        </li>
        <li class="nav__item" data-menu-item>
          <a href="#contacts" class="nav__link">
            <span data-hover="Contacts">Contacts</span>
          </a>
        </li>
      </ul>
    </nav>

    <button id="dark-mode" class="change-theme__btn btn-reset">
      <svg id="sun">
        <use href="./img/sprite.svg#sun"></use>
      </svg>
      <svg id="moon">
        <use href="./img/sprite.svg#moon"></use>
      </svg>
    </button>
  </div>
</header>
