<section class="hero">
  <div class="container hero__container">
    <div class="hero__content">
      <h1 class="hero__title">
        <span>Hello! I'm</span>
        <div class="hero__title-anim">
          <span class="title-anim__item">Oyuna</span>
          <span class="title-anim__item">Frontend developer</span>
        </div>
      </h1>
      <div class="hero__links-wrapper">
        <a download href="CV_Frontend-developer_Oyuna.pdf" download class="hero__link btn hero__link--accent">Download CV</a>
      </div>
    </div>

    <div class="hero__social">
      <ul class="hero__social-list list-reset">
        <li class="social__item">
          <a href="https://t.me/IamOyuna" class="social__link" target="_blank"  aria-label="telegram">
            <svg>
              <use href="./img/sprite.svg#tg"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a href="https://github.com/veryPeriCloud" class="social__link" target="_blank" aria-label="github">
            <svg>
              <use href="./img/sprite.svg#github"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a href="mailto:oyunafront@gmail.com" class="social__link" aria-label="gmail">
            <svg>
              <use href="./img/sprite.svg#gmail"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <div class="hero__scroll">
      <a href="#about" class="hero__mouse">
        <div class="hero__mouse-scroller"></div>
      </a>
    </div>


  </div>
</section>
