<section class="projects" id="projects">
  <div class="container">
    <h2 class="section__title projects__title">
      Projects
    </h2>

    <ul class="projects__list list-reset">
      <li class="projects__item project-card">
        <div class="project-card__content">
          <h3 class="project-card__title section__subtitle">
            Trello clone web app
          </h3>
          <p class="project-card__descr">
            The app is a prototype of a Kanban board, user can add columns and tasks, move tasks between columns, and also change their places (drag and drop). The app has authorization by email and password and a profile page.
            <ul class="project-card__stack list-reset stack">
              <li class="stack__item">Nuxt.js</li>
              <li class="stack__item">Vue.js</li>
              <li class="stack__item">Typescript</li>
              <li class="stack__item">Tailwind CSS</li>
              <li class="stack__item">Nuxt UI</li>
              <li class="stack__item">HTML</li>
            </ul>
          </p>
          <div class="project-card__links-wrapper">
            <a href="https://trello-app-clonee.netlify.app/" class="btn project-card__link" target="_blank">Demo</a>
            <a href="https://github.com/veryPeriCloud/trello-clone" class="btn project-card__link project-card__link--border" target="_blank">Github</a>
          </div>
        </div>
      </li>
      <!-- <li class="projects__item project-card">
        <div class="project-card__content">
          <h3 class="project-card__title section__subtitle">
            Online-shop
          </h3>
          <p class="project-card__descr">
            Implemented products catalog with pagination, product sorting by price, filtration by category, cart and ordering.
            <ul class="project-card__stack list-reset stack">
              <li class="stack__item">Vue.js (2)</li>
              <li class="stack__item">CSS</li>
              <li class="stack__item">HTML</li>
              <li class="stack__item">Javascript</li>
            </ul>
          </p>
          <div class="project-card__links-wrapper">
            <a href="https://verypericloud.github.io/vue-app/#/" class="btn project-card__link" target="_blank">Demo</a>
            <a href="https://github.com/veryPeriCloud/tehnozavr1" class="btn project-card__link project-card__link--border" target="_blank">Github</a>
          </div>
        </div>
      </li> -->

      <!-- <li class="projects__item project-card">
        <div class="project-card__content">
          <h3 class="project-card__title section__subtitle">
            Responsive page layout
          </h3>
          <p class="project-card__descr">
            Page layout for ordering.
            <ul class="project-card__stack list-reset stack">
              <li class="stack__item">CSS</li>
              <li class="stack__item">HTML</li>
              <li class="stack__item">Javascript</li>
              <li class="stack__item">Gulp</li>
              <li class="stack__item">Php</li>
            </ul>
          </p>
          <div class="project-card__links-wrapper">
            <a href="http://oyunafront-test.com.xsph.ru/" class="btn project-card__link" target="_blank">Demo</a>
            <a href="https://github.com/veryPeriCloud/5corners-test" class="btn project-card__link project-card__link--border" target="_blank">Github</a>
          </div>
        </div>
      </li> -->

      <!-- <li class="projects__item project-card">
        <div class="project-card__content">
          <h3 class="project-card__title section__subtitle">
            Gallery of images
          </h3>
          <p class="project-card__descr">
            App with use Unsplash API. Render random photos, search photos by tag.
            <ul class="project-card__stack list-reset stack">
              <li class="stack__item">CSS</li>
              <li class="stack__item">HTML</li>
              <li class="stack__item">Javascript</li>
              <li class="stack__item">Gulp</li>
            </ul>
          </p>
          <div class="project-card__links-wrapper">
            <a href="https://verypericloud.github.io/images-gallery/" class="btn project-card__link" target="_blank">Demo</a>
            <a href="https://github.com/veryPeriCloud/unsplash-gallery/tree/dev" class="btn project-card__link project-card__link--border" target="_blank">Github</a>
          </div>
        </div>
      </li> -->

      <li class="projects__item project-card">
        <div class="project-card__content">
          <h3 class="project-card__title section__subtitle">
            Film releases
          </h3>
          <p class="project-card__descr">
            App use Kinopoisk API (unofficial).
            <ul class="project-card__stack list-reset stack">
              <li class="stack__item">CSS</li>
              <li class="stack__item">HTML</li>
              <li class="stack__item">Javascript</li>
            </ul>
          </p>
          <div class="project-card__links-wrapper">
            <a href="https://verypericloud.github.io/film-releases" class="btn project-card__link" target="_blank">Demo</a>
            <a href="https://github.com/veryPeriCloud/film-releases" class="btn project-card__link project-card__link--border" target="_blank">Github</a>
          </div>
        </div>
      </li>

      <!-- <li class="projects__item project-card">
        <div class="project-card__content">
          <h3 class="project-card__title section__subtitle">
           Episods of Star wars
          </h3>
          <p class="project-card__descr">
            An app using the Star Wars episodes API.
            <ul class="project-card__stack list-reset stack">
              <li class="stack__item">CSS</li>
              <li class="stack__item">HTML</li>
              <li class="stack__item">Javascript</li>
            </ul>
          </p>
          <div class="project-card__links-wrapper">
            <a href="https://verypericloud.github.io/starWarsApp/" class="btn project-card__link" target="_blank">Demo</a>
            <a href="https://github.com/veryPeriCloud/starWarsApp" class="btn project-card__link project-card__link--border" target="_blank">Github</a>
          </div>
        </div>
      </li> -->

      <!-- <li class="projects__item project-card">
        <div class="project-card__content">
          <h3 class="project-card__title section__subtitle">
            Adesk
          </h3>
          <p class="project-card__descr">
            Responsive page layout for Adesk company. Implemented the algorithm of opening of the block upon clicking the button.
            <ul class="project-card__stack list-reset stack">
              <li class="stack__item">CSS</li>
              <li class="stack__item">HTML</li>
              <li class="stack__item">Javascript</li>
            </ul>
          </p>
          <div class="project-card__links-wrapper">
            <a href="https://verypericloud.github.io/adesk/" class="btn project-card__link" target="_blank">Demo</a>
            <a href="https://github.com/veryPeriCloud/adesk" class="btn project-card__link project-card__link--border" target="_blank">Github</a>
          </div>
        </div>
      </li> -->
    </ul>
  </div>
</section>
