<section class="skills" id="skills">
  <div class="skills__container container">
    <h2 class="section__title skills__title">
      Skills
    </h2>

    <ul class="skills__list list-reset">
      <li class="skills__item">
        html
      </li>
      <li class="skills__item">
        css
      </li>
      <li class="skills__item">
        sass
      </li>
      <li class="skills__item">
        tailwind css
      </li>
      <li class="skills__item">
        daisy ui
      </li>
      <li class="skills__item">
        figma
      </li>
    </ul>
    <ul class="skills__list list-reset">
      <li class="skills__item">
        javascript
      </li>
      <li class="skills__item">
        typescript
      </li>
      <li class="skills__item">
        vue.js
      </li>
      <li class="skills__item">
        nuxt 3
      </li>
      <li class="skills__item">
        gulp
      </li>
    </ul>
    <ul class="skills__list list-reset">
      <li class="skills__item">
        git
      </li>
    </ul>
  </div>

  <div class="skills__strip skills-strip">
    <ul class="skills-strip__list list-reset">
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#html"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#css"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#sass"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#tailwind"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#figma"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#javascript"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#ts"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#vue"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#nuxt"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#git"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#html"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#css"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#sass"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#tailwind"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#figma"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#javascript"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#ts"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#vue"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#nuxt"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#git"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#html"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#css"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#sass"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#tailwind"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#figma"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#javascript"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#ts"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#vue"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#nuxt"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#git"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#html"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#css"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#sass"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#tailwind"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#figma"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#javascript"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#ts"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#vue"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#nuxt"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#git"></use>
        </svg>
      </li>
    </ul>
    <ul class="skills-strip__list list-reset">
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#html"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#css"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#sass"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#tailwind"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#figma"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#javascript"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#ts"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#vue"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#nuxt"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#git"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#html"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#css"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#sass"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#tailwind"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#figma"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#javascript"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#ts"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#vue"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#nuxt"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#git"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#html"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#css"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#sass"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#tailwind"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#figma"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#javascript"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#ts"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#vue"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#nuxt"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#git"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#html"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#css"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#sass"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#tailwind"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#figma"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#javascript"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#ts"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#vue"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#nuxt"></use>
        </svg>
      </li>
      <li class="skills-strip__item">
        <svg>
          <use href="./img/sprite.svg#git"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
